html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}


body {
  min-height: 100vh;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


::-webkit-scrollbar {
  width: 0px; 
  height: 12px; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 6px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 6px; 
}